<div class='home-main'>
  <div class='home-wrapper'>
    <div class='home-header'>
      <div class='home-header-content'>
		<div class='top-message-box'><h1> 「音アワセ」しよう！ </h1></div>
        <div class='search-form'>
          <div class='form-explanation'><h2> キーワードから探す</h2></div>
	      <span class='search-box'>
	      	<%= form_tag(search_path, :method => 'get') do %>
              <%= text_field_tag 'search[content]' %>
              <%= select_tag 'search[method]', options_for_select({ "完全一致" => "perfect", "前方一致" => "forward", "後方一致" => "backward", "部分一致" => "partial" }) %>
              <%= submit_tag 'Search' %>
            <% end %>
            <!-- <p>詳細検索</p> -->
            <!-- <p>= search_form_for(@q, url: search_path) do |f|
              = f.text_field :instrument_name_cont, placeholder: 'エリア[例：下北沢]', autocomplete: :off, class: 'search-box__content left-content', id: 'instrument-search-field'
              = f.text_field :name_or_outline_or_instruments_name_or_genres_name_cont, placeholder: 'キーワード[例：yohji yamamoto]', autocomplete: :off, class: 'search-box__content center-content', id: 'keyword-field'
              = select_tag :rate_range, options_from_collection_for_select(RateRange.all, :id, :name), { prompt: "評価", class: 'search-box__content right-content', id: 'rate-field'}
              = f.submit '検 索', class: 'search-box__submit', id: 'search-submit-btn'</p> -->
	      </span>
          <div id='search-result'>
            <div class='candidate-list'></div>
          </div>
		</div>
	  </div>
    </div>
    <div class="top-wrapper">
      <div class='top-main'>
		<div class='search-instrument'>
		  <h2 class='search-instrument__title'><span>　楽器から探す </span></h2>
		  <div class='search-instrument__area'>
<!-- 		    <ul class='top-instruments'>
			  <%# @top_instruments.each do |top_instrument| %>
			    <li class='top-instrument'>
			      <%#= link_to(search_path(@q, 'q[instruments_name_eq]': top_instrument.name), class: 'top-instrument-link') do %>
			        <%#= image_tag asset_path(top_instrument.image), class: 'top-instrument__img' %>
			      <%# end %>
			    </li>
			  <%# end %>
			</ul> -->


			<%= form_tag(search_path, :method => 'get') do %>
              <% @instruments.each do |instrument| %>
			    <li class='all-instrument'>
			      <%= link_to(search_path, class: 'instrument-link') do %>
			        <span><%= instrument.name %></span>
			      <% end %>
			    </li>
			  <% end %>
              
            <% end %>
         

			</div>
		</div>
		<div class='search-genre'>
<!-- 		    <p>%h2.search-genre__title
		      %span ジャンルから探す
		    .search-genre__area
		      %ul.top-genres
		        - @top_genres.each do |top_genre|
		          %li.top-genre
		            = link_to(shops_search_path(@q, 'q[genres_name_eq]': top_genre.name), class: 'top-genre-link') do
		              = image_tag asset_path(top_genre.image), class: 'top-genre__img'
		              .top-genre__name
		                %span= top_genre.name
		              .top-genre__store-count
		                %span= "#{top_genre.shops.count}件"
		      %ul.genre-list.clearfix
		        - @genres.each do |genre|
		          %li.all-genre
		            = link_to(shops_search_path(@q, 'q[genres_name_eq]': genre.name), class: 'genre-link') do
		              %span= genre.name</p> -->
		</div>
		<div class='search-area'>
<!-- 		  <p>%h2.search-area__title
		      %span 地域から探す
		    .search-area__area
		      .selected-area
		        .selected-area__name
		          %span 東京
		        .selected-area__store-count
		          %span= "#{@shops.count}件"
		      %ul.top-areas
		        - @top_areas.each do |top_area|
		          %li.top-area
		            = link_to(shops_search_path(@q, 'q[area_name_cont]': top_area.name), class: 'top-area-link') do
		              .top-area-box
		                %span.top-area-name= top_area.name
		                %span.top-area-shop-count= "#{top_area.shops.count}件"
		      %ul.area-list.clearfix
		        - @areas.each do |area|
		          %li.all-area
		            = link_to(shops_search_path(@q, 'q[area_name_cont]': area.name), class: 'area-link') do
		              %span= area.name</p> -->
		</div>
	  </div>
    </div>
  </div>
</div>


